<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>{%if title %} {{title}} - {{webconfig.weburl}} {% else %} {{ infoData.bookInfo.articlename}}最新章节_{{ webconfig.webtitle }}- {{webconfig.weburl}}{% endif %}</title>
<meta name="keywords" content="{%if keywords %} {{keywords}} {% else %} {{ infoData.bookInfo.articlename}}最新章节|{{ infoData.bookInfo.articlename}}手机阅读|{{ webconfig.webtitle }}{% endif %}" />
<meta name="description" content="{%if description %} {{description}} {% else %} {{ infoData.bookInfo.articlename}}最新章节由网友提供，{{ infoData.bookInfo.articlename}}情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的{{ infoData.bookInfo.sortname}}，{{ webconfig.webtitle }}免费提供{{ infoData.bookInfo.articlename}}最新清爽干净的文字章节在线手机阅读。{% endif %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<meta name="MobileOptimized" content="240"/>
<meta name="applicable-device" content="mobile"/>
<link rel="shortcut icon" href="/favicon.ico" />
<meta http-equiv="Cache-Control" content="max-age=300" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="HandheldFriendly" content="true"/>
<link rel="stylesheet" type="text/css" href="/css/novel/wap/css.css" />
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/wap.js"></script>
</head>