{% include 'global/wapuserhead.html.twig' %} 
<style>
    .bookone{ width:100%;border-bottom:1px solid #D3FEDA}
    .bookone .case_img{width:70px;}
    .bookone .case_last a{font-size:14px;}
</style>
<div id="hdtop" class="users fk">
    {% include 'global/wapusernav.html.twig' %}

    <div style="margin:10px;">
        <table class='bookone'><tr><font color='red'>友情提示: 默认缓存为2小时, 手动刷新会提前更新, 如果上下页无法到达, 最好手动刷新目录,从目录选择章节名然后进入内容</font></tr></table>
        <boocase id="boocase">
        {% for caseData in caseDatas %}
            <table class='bookone' id="{{ caseData.caseid }}">
                <tr>
                    <td>
                        <table>
                            <tr><td class='case_name'>书名：<a href='{{ path_for('novelinfo', { 'bookid': caseData.articleid }) }}'><font color="red">{{ caseData.articlename }}</font></a>{%if caseData.lastvisit < caseData.lastupdate  %}<img src="/css/novel/wap/new.gif" />{% endif %}</td></tr>
                            <tr><td class='case_last'>最新：{%if caseData.lastchapterid>0 %}<a href='{{ path_for('readbookcase', { 'bid': caseData.articleid,'cid' : caseData.lastchapterid}) }}'>{{ caseData.lastchapter }}</a>{% endif %}</td></tr>
                            <tr><td class='case_shuqian'>书签：{%if caseData.nochapter is not null %} {{caseData.nochapter}} {%else%} <a href='{{ path_for('readbookcase', { 'bid': caseData.articleid,'cid' : caseData.chapterid}) }}'>{{ caseData.chaptername }}</a> {%endif%}</td></tr>
                            <tr><td class='case_shuqian'>更新时间：{{ caseData.lastupdate | date('Y-m-d H:i:s') }}</td></tr>
                            <tr><td class='case_del'><a href='javascript:;' onclick='case_del({{ caseData.caseid }})'><span style="color:red">删除本书</span></a></td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% else %}
            <div style='border:1px solid #18C2E7;background-color:#D3FEDA;margin:10px;padding:10px;'>没有数据！</div>
        {% endfor %}
        </boocase>
        {% if caseDatas %}

            {%if bookcasepage > 1 %}
                {%if islastdata > 0 %}
                    <more class="list_more pter" onClick="zuoyoufy('{{ path_for('bookcase', { 'bookcasepage': 1}) }}?{{random()}}');">点击回到第一页</more>
                    <table class='bookone'></table>
                    <more class="list_more pter" onClick="zuoyoufy('{{ path_for('bookcase', { 'bookcasepage': lastpage} ) }}?{{random()}}');">点击回到上一页 &uarr;</more>
                      
                {%elseif lastpage == 0 %}
                    <more class="list_more pter" onClick="zuoyoufy('{{ path_for('bookcase', { 'bookcasepage': bookcasepage} ) }}?{{random()}}');">点击刷新下一页 &darr;</more>
                {%else%}
                    <more class="list_more pter" onClick="zuoyoufy('{{ path_for('bookcase', { 'bookcasepage': 1}) }}?{{random()}}');">点击回到第一页</more>
                    <table class='bookone'></table>
                    <more class="list_more pter" onClick="zuoyoufy('{{ path_for('bookcase', { 'bookcasepage': lastpage} ) }}?{{random()}}');">点击回到上一页 &uarr;</more>
                    <table class='bookone'></table>  
                    <more class="list_more pter" onClick="zuoyoufy('{{ path_for('bookcase', { 'bookcasepage': bookcasepage} ) }}?{{random()}}');">点击刷新下一页 &darr;</more>  
                {% endif %}                                
            {% endif %}

        {% endif %}
    </div>
</div>
{% include 'global/wapfoot.html.twig' %} 

</script>
</body>
</html>
