{% include 'global/waphead.html.twig' %} 
<body id="zj">
<header id="header1" class="dise">
    <div class="zuo pter" onClick="javascript:history.go(-1);"><i class="fa fa-reply fa-2x"></i></div>
    <div class="zhong pter" onClick="zuoyoufy('{{ path_for('novelinfo', { 'bookid': contentData.chapter.articleid }) }}');">{{contentData.chapter.chaptername|slice(0, 8)}}</div>
    <div class="you pter" id="showtool"><i class="fa fa-server fa-2x"></i></div>
    <div class="cc"></div>
</header>
{% include 'global/waptool.html.twig' %} 
{% include 'global/wapfenlei.html.twig' %} 
<script>_17mb_nrtop()</script>
<section class="zj">
  <div class="nr_shezhi bk1">
      <div class="shezhi1" style="margin-top: 5px">
          <div class="dise">字体</div><div id="b" class="dise pter">大</div> <div id="m" class="dise pter">中</div> <div id="s" class="dise pter">小</div>
      </div>
      <div class="shezhi2">
        <div class="dise pter" onClick="mg.qtemail('{{ contentData.chapter.articlename }}' , '{{ contentData.chapter.chaptername }}','{{ path_for('novelcontent', { 'bid': contentData.chapter.articleid ,'cid' :  contentData.chapter.chapterid }) }}' );" >报错</div>
        <div id="light" class="dise pter">关灯</div>
      </div>
    <div class="cc"></div>
  </div>
  
    <div class="nr_page">
        <a id="shuqian" class="dise" href="javascript:;" onclick='addbookcase({{ contentData.chapter.articleid }},{{contentData.chapter.chapterid}})'><font>&nbsp;&nbsp;&nbsp;存书签</font></a>
        <a class="dise" href="{{ path_for('bookcase')}}?url={{ path_for('novelcontent', { 'bid': contentData.chapter.articleid ,'cid':contentData.chapter.chapterid }) }}">书架管理</a>
        <a class="dise" href="{{ path_for('novelmulu1', { 'bookid': contentData.chapter.articleid ,'page':contentData.page }) }}">返回目录</a>
        <div class="cc"></div>
    </div>

    <article id="nr">
        {%if contentData.isimg > 0%}{{ contentData.content |raw }}{%else%}{{ contentData.content |nl2br }}{%endif%}

        <div id="zuoyoufy">
            <div class="zuo" onClick="zuoyoufy('{%if contentData.preview != "" %}{{ path_for('novelcontent', { 'bid': contentData.preview.articleid ,'cid':contentData.preview.chapterid }) }}{%else%} {{ path_for('novelinfo', { 'bookid': contentData.chapter.articleid }) }} {% endif %}')"></div>
            <div class="you" onClick="zuoyoufy('{%if contentData.next != "" %}{{ path_for('novelcontent', { 'bid': contentData.next.articleid ,'cid':contentData.next.chapterid }) }}{%else%}{{ path_for('novelinfo', { 'bookid': contentData.chapter.articleid }) }} {% endif %}')"></div>
        </div>
    </article>
    <div class='share'>
        <span class='bdsharebuttonbox'> 
            <a href='javascript:;' class='bds_tsina' data-cmd='tsina' title='分享到新浪微博'></a>
            <a href="javascript:;" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
            <a href="javascript:;" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
        </span>
    </div>
    <script type='text/javascript'>
        window._bd_share_config = {
                common : {
                    bdText : "{{ contentData.chapter.articlename }} 这本小说实在太好看,我连续看了几天都没睡觉了,有喜欢看小说的朋友可以看看,强烈推荐!", 
                    bdDesc : "{{ contentData.chapter.articlename }} 这本小说实在太好看,我连续看了几天都没睡觉了,有喜欢看小说的朋友可以看看,强烈推荐。", 
                    bdUrl : "{{ webconfig.murl }}{{ path_for('novelinfo', { 'bookid': contentData.chapter.articleid }) }}",     
                    bdPic : "{{ contentData.cover }}"
                },
                share : [{
                    'bdSize' : 32
                }],
        }
        //百度分享
        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
    </script>

  <script>_17mb_nrmiddle()</script>
    <div class="nr_page">
      <a class="dise" href="{%if contentData.preview != "" %}{{ path_for('novelcontent', { 'bid': contentData.preview.articleid ,'cid':contentData.preview.chapterid }) }}{%else%} {{ path_for('novelinfo', { 'bookid': contentData.chapter.articleid }) }} {% endif %}">上一章</a>
        <a class="dise" href="{{ path_for('novelmulu1', { 'bookid': contentData.chapter.articleid ,'page':contentData.page }) }}">目录</a>
        <a class="dise" href="{%if contentData.next != "" %}{{ path_for('novelcontent', { 'bid': contentData.next.articleid ,'cid':contentData.next.chapterid }) }}{%else%} {{ path_for('novelinfo', { 'bookid': contentData.chapter.articleid }) }} {% endif %}">下一章</a>
        <div class="cc"></div>
    </div>
</section>
<script>_17mb_nrbottom();</script>
{#回顶部的标签#}
<div id="back-to-top">
  <a class="stop" href="javascript:"><span></span></a>
  {#<a class="scmt" href="javascript:"><span></span></a>#}
</div>
{% include 'global/wapfoot.html.twig' %} 
</body>
<script type="text/javascript">
  {{ selectjs|raw }}
    var thisUrl = window.location.href;
    var bookName  = "{{contentData.chapter.articlename}}";
    var author  = "{{ contentData.author }}";
    var cover = "{{ contentData.cover}}";
    var chapterName = "{{ contentData.chapter.chaptername }}";
    var jos = {'thisUrl':thisUrl,'bookName':bookName,'chapterName':chapterName,'author':author,'cover':cover}; 
    hislogs();
</script>
</html>