{% include 'global/waphead.html.twig' %}   
<body>
<header id="header1" class="dise">
    <div class="zuo pter" onClick="zuoyoufy('{{ path_for('usercore') }}?{{random()}}')"><i class="fa fa-user fa-2x"></i></div>
    <div class="zhong homefont">{{webname}}</div>
    <div class="you pter" id="showtool"><i class="fa fa-server fa-2x"></i></div>
    <div class="cc"></div>
</header>
{% include 'global/waptool.html.twig' %} 
{% include 'global/wapfenlei.html.twig' %} 
<script>_17mb_shouyetop()</script>
<section id="tj" class="fk">
  <div class="tjtop xbk">新书推荐</div>
    <ul>
      {% for key,picTuiJian in picTuiJians %}
      <li{%if loop.last %} class="tjlast"{% endif %}><a href="{{ path_for('novelinfo', { 'bookid': picTuiJian.articleid }) }}"><img src="{{picTuiJian.cover}}" onerror="this.src='/css/noimg.jpg'" alt="{{picTuiJian.articlename}}" /></a><br/><span><a href="{{ path_for('novelinfo', { 'bookid': picTuiJian.articleid }) }}">{{picTuiJian.articlename}}</a></span></li>
      {% endfor %} 
        <div class="cc"></div>
    </ul>
</section>
<script>_17mb_shouyemiddle()</script>
<section id="rmtj" class="fk">
  <div class="xbk">{{ sortname ? sortname : '最新更新' }} </div>
  <gundong id="content_list">
    {% for key,articleData in articleDatas %}
      <ul class="xbk" onClick="window.location.href='{{ path_for('novelinfo', { 'bookid': articleData.articleid }) }}'">
        <li class="tjimg"><img src="{{articleData.cover}}" onerror="this.src='/css/noimg.jpg'" /></li>
        <li class="tjxs">
          <span class="xsm"><a href="{{ path_for('novelinfo', { 'bookid': articleData.articleid }) }}" title="{{articleData.articlename}}">{{articleData.articlename|slice(0, 7)}}</a></span>
          <span class="">作者：{{articleData.author|slice(0, 12)}}</span>
          <span class="">{{articleData.intro}}</span>
          <span class="tjrs"><i>{{articleData.time}}</i></span>
        </li>
      </ul>
    {% endfor %} 
  </gundong>
  <more class="list_more pter" id="loading" onClick="loadingbook();">点击加载更多 &darr;</more>
  <more class="list_more" id="nomoreresults" style="display:none">所有内容加载完毕</more>
</section>
<script>_17mb_shouyebottom();</script>

{%if sortid ==0 %}
  <section class="youlian">
    <span>友情链接</span>
      <div class="yl bk">{{ webconfig.link |raw }}<div class="cc"></div></div>
  </section>
{% endif %}
{% include 'global/wapfoot.html.twig' %} 
<script type="text/javascript">
  {{ selectjs|raw }}
  var dwtime = {{ ajaxPage }};
  var sortajax = '{{ sortid }}';
  var geturl = '{{ ajaxpath|e }}';
  var islast = false;
</script>
</body>
</html> 

