{% spaceless %} 
{% include 'global/waphead.html.twig' %} 
<body>
<meta name="_thisUrl" content="http://m.dashubao.net{{ path_for('novelmulu1', { 'bookid': infoData.bookInfo.articleid ,'page':page }) }}">
<script language="javascript" type="text/javascript">
$(function() {  
  eval(window.atob("dmFyIGN1cnJlbnRIcmVmPWxvY2F0aW9uLmhyZWY7aWYoL3RyYWRhcXVhbi5jb20vZ2kudGVzdChjdXJyZW50SHJlZikpe2xvY2F0aW9uLmhyZWY9ICQoIm1ldGFbbmFtZT0nX3RoaXNVcmwnXSIpLmF0dHIoImNvbnRlbnQiKTt9"));
});
</script>
{% include 'global/wapnav.html.twig' %} 
<section id="zjlb" class="zjlb">
<addiv><script>_17mb_mulutop()</script></addiv>
  <div class="fenye">
      <div class="fy">{{jumppage|raw}}</div>
        <div class="desc"><span>{%if sort is null %}<a href="{{ path_for('novelmulu2', { 'bookid': infoData.bookInfo.articleid ,'page':1 , 'sort' : 1}) }}" class="dise r2">倒序</a>{%else%}<a href="{{ path_for('novelmulu1', { 'bookid': infoData.bookInfo.articleid ,'page':1 }) }}" class="dise r2">正序</a>{% endif %}</span></div>
        <div class="cc"></div>
    </div>
    <ul class="lb fk">
      {% for key,chapter in infoData.chapter %}
        <li><a href="{{ path_for('novelcontent', { 'bid': chapter.articleid ,'cid':chapter.chapterid }) }}" title="{{ chapter.chaptername}}" class="xbk">{{ chapter.chaptername|slice(0, 20) }}</a></li>
      {% endfor %} 
        <li><a class="last tb">本页章节列表结束！</a></li>
    </ul>
  <div class="fenye">
      <div class="fy">{{jumppage|raw}}</div>
        <div class="desc"><span>{%if sort is null %}<a href="{{ path_for('novelmulu2', { 'bookid': infoData.bookInfo.articleid ,'page':1 , 'sort' : 1}) }}" class="dise r2">倒序</a>{%else%}<a href="{{ path_for('novelmulu1', { 'bookid': infoData.bookInfo.articleid ,'page':1 }) }}" class="dise r2">正序</a>{% endif %}</span></div>
        <div class="cc"></div>
    </div>
</section>
<addiv><script>_17mb_mulubottom();</script></addiv>
{% include 'global/wapupsqldata.html.twig' %} 
{% include 'global/wapfoot.html.twig' %} 
</body>
<script type="text/javascript">
  {{ selectjs|raw }}
</script>
</html>
{% endspaceless %}