{% include 'global/wapuserhead.html.twig' %} 
<div id="hdtop" class="users fk">
    {% include 'global/wapusernav.html.twig' %}
    <div class="userinfo">
        <ul>
            <li>用户名：{{ user.uname }}</li>
            <li>积分：{{ user.score }}</li>
            <li>等级：{{ user.touxian }}</li>
            <li>书架量：{{ user.bookcount }}</li>
            <li>收(发)箱容量：{{ webconfig.mbox }}</li>
            <li>注册时间：{{ user.regdate| date('Y-m-d H:i:s') }}</li>
        </ul>
    </div>
</div>
<script>_17mb_bottom()</script>
{% include 'global/wapfoot.html.twig' %} 
</body>
</html>
